{% extends "basic.html" %}
{% block body %}

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">About</h1>
      <p class="lead">The best free stock Articles on Current and the nodal agency of the Government of India to disseminate information to the print and electronic media on government policies, programmes, initiatives and achievements.</p>
      <a href="/" class="btn btn-primary btn-lg">Back!</a>
    </header>

    <!-- Page Features -->
    <div class="alert alert-success" role="alert">
  <h4 class="alert-heading"><b>Mitigation of Carbon Footprint</b></h4>
  <p>Global warming with the burgeoning anthropogenic greenhouse gas (GHG) emissions (400 parts per million from 280 ppm CO2, emissions of pre-industrial era) has been altering the climate, eroding the ecosystem productivity and sustenance of water, thus affecting the livelihood of people.</p><br>
<ul>
    <li>Anthropogenic activities such as burning fossil fuels, polluting water bodies, industrial effluents etc are responsible for increasing GHG footprint of which 72% constitutes CO2.</li>
    <li>GHG footprint needs to be in balance with sequestration of carbon to sustain ecosystem functions.</li>
    <li>Forests are the major carbon sink (about 45%) that aid in mitigation global warming.</li>
    <li>The Land Use Land Cover (LULC) dynamics leading to deforestation and land degradation is the prime driver of global warming due to the loss of carbon sequestration potential s well as emission.</li>
</ul>
<br> 
  <p class="mb-0">by Chief Editor's.</p>
</div>
</div>a

<!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

</body>

</html>
   
{% endblock %}